<h2>You need music?</h2>
<p class="lead">Spotify gives you instant access to millions of songs – from old favorites to the latest hits. Just hit play to stream anything you like.</p>
<form>
  <div class="form-group">
    <input type="text" class="form-control" name="searchStr" [(ngModel)]="searchStr"  (keyup)="searchMusic()" placeholder="Search artist..." autocomplete="off">
  </div>
  <div *ngIf="artists && artists.length" class="result-search">
    <ul>
      <li *ngFor="let artist of artists" >
        <a href="#" [routerLink]="['/artists', artist.id]">{{artist.name}}</a>
      </li>
    </ul>
  </div>
</form>
