video{
  height: 20px;
  width: auto;
}
main {
  margin-top: 40px;
}
form {
  position: relative;
}
.result-search{
  position: absolute;
  top: 100%;
  width: 100%;
  background: #ffffff;
  border-top: 1px solid #333;
}
.item strong{
  margin-right: 10px;
}
.result-search ul {
  padding-left: 0;
}
.result-search li{
  overflow: hidden;
  list-style-type: none;
  padding-left: 16px;
}
.result-search li a{
  color: #000;
}
.result-search  li:hover{
  background: #cdcdcd;
}
.result-search li a:hover{
  color: #000;
  font-weight: 600;
}
.search-res{
  overflow: auto;
}
.thumbnail{
  margin-bottom: 0;
}
.artist{
  margin-top: 10px;
}
header{
  margin-top: 40px;
  padding-bottom: 25px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.item{
  margin-bottom: 10px;
}
.artist .thumbnail{
  max-height: 200px;
  overflow: auto;
}

.btn.view-external{
  color: #000000;
  font-weight: 400;
}
.btn.view-external:hover{
  color: #df691a;
}
.album-wrap{
  display: inline-flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.album{
  width: 250px;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}
.album-name{
  max-width: 100%;
  break-after: auto;
  word-wrap: break-word;
}
.album-img{
  width: 200px;
  /*overflow: hidden;*/
}
.album-avatar {
  max-width: 250px;
}
.info {
  margin: 10px 0 10px 20px;
}
.avatar{
  margin-left: 20px;
}
.main-album{
  margin-top: 0;
}
.playlist{

}
.playlist li{
  list-style: none;
}
.playlist-item{
  display: flex;
  border-bottom:  1px solid #596a7b;
  border-left:  1px solid #596a7b;
  border-right:  1px solid #596a7b;
  padding-left: 10px;
}
.playlist-item:first-child{
  border-top:  1px solid #596a7b;
}
.playlist-item .track-name{
  width: 220px;
}
